<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
hello

<!--<script>-->
<!--    var token = 'Bearer e4XGMOVOQhY:APA91bEdPah3AuW5pshLafwEYOQxWvm2Pb8KDhn850kcmJvziZvZjfOsl1YytOUh3Cuf93b7i1CXM0gPV16GXsH5MN-sYMF29a-K6hNqmrbgXAyeBQnrWoaVsihHxc5WHlTPzE_McK5D';-->
<!--    $.ajax({-->
<!--        type: "POST",-->
<!--        url: "/api/me",-->
<!--        beforeSend: function (xhr) {-->
<!--            xhr.setRequestHeader("Content-type","application/json");-->
<!--            xhr.setRequestHeader("Authorization","JWT " + token);-->
<!--        },-->
<!--        success: function (res) {-->
<!--            console.log(res);-->
<!--        }-->
<!--    });-->
<!--</script>-->

</body>
</html>